<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

<property>
 <name>fs.defaultFS</name>
<value>hdfs://{% for ansible_host in groups[hdfs_namenode_ansible_group] -%}
{%- set ip=(hostvars[ansible_host]
                    ['ansible_' + hdfs_net_interface]
                    ['ipv4']
                    ['address']) %}
{%- if not loop.first %},{% endif %}{{ ip }}:8020
{%- endfor %}</value></property>

<property>
 <name>io.buffer.size</name>
<value>{{ hdfs_io_buffer_size }}</value></property>

{% if lookup('env', 'AWS_ACCESS_KEY_ID') != "" %}
<property>
 <name>fs.s3n.awsAccessKey</name>
<value>{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}</value></property>

<property>
 <name>fs.s3.awsAccessKey</name>
<value>{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}</value></property>
{% endif %}

{% if lookup('env', 'AWS_SECRET_ACCESS_KEY') != "" %}
<property>
 <name>fs.s3n.awsSecretAccessKey</name>
<value>{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}</value></property>

<property>
 <name>fs.s3.awsSecretAccessKey</name>
<value>{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}</value></property>
{% endif %}


</configuration>
